.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #fafafa;
}

.app-title {
  margin-bottom: 24px !important;
  font-weight: 500 !important;
  color: #333;
}

.timer-card {
  padding: 32px !important;
  border-radius: 16px !important;
}
